{% extends 'base.html' %} {% block content %}
<main role="main">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4" style="padding: 20px; margin-top: 20px;">
      Welcome to the Meet Market!
    </h1>
  </div>
  <hr />
</main>
<h2>Login</h2>
<br />
{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
    {{ message }}
  </li>
  {% endfor %}
</ul>
{% endif %}
<form action="{% url 'login:my_log_in' %}" method="POST">
  {% csrf_token %}
  <div class="form-group">
    <label for="log_email">Email Address</label>
    <input type="email" class="form-control" name="log_email" />
  </div>
  <div class="form-group">
    <label for="log_pw">Password</label>
    <input type="password" class="form-control" name="log_pw" />
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
<br />
<a href="{% url 'login:my_register_page' %}"
  >Don't have an account? Click here to register!</a
>
{% endblock %}

<!--  <body class="text-center">
    <form class="form-signin">
  <img class="mb-4" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
</form>
</body> -->
