{% extends 'base.html' %} {% block content %}

<main role="main">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4" style="padding: 20px; margin-top: 20px;">
      All Categories
    </h1>
  </div>
  <hr />
</main>

<!-- <h1>All Categories</h1> -->
<div class="container" style="padding-left: 85px;">
  <div class="row">
    {% for category in categories %}
    <div class="card" style="width: 12rem; margin: 2pt">
      <div class="card-body">
        <a
          href="{% url 'item:my_category_page' category.id %}"
          class="card-link"
          >{{category.name}}</a
        >
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
