{% extends 'base.html' %} {% block content %}

<main role="main">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4" style="padding: 20px; margin-top: 20px;">
            All Item Listings
        </h1>
    </div>
</main>

<!-- <h1>All Item Listings</h1> -->
<div class="row">
    {% for item in items %}
    <div class="col-md-2 card" style="margin: 5pt;">
		<a href="{% url 'item:my_item_info' item.id %}">
        {% for image in item.images.all %}
        <img
            class="img-fluid"
            src="{{image.image.url}}"
            width="200px"
			height="200px" 
        />
        {% endfor %}
        <p>
            Name:
            {{item.name}}</a>
        </p>
        <p>Price: ${{item.price}}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
