{% extends 'base.html' %} {% block content %}

<main role="main">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4" style="padding: 20px; margin-top: 20px;">
            Create New Listing
        </h1>
    </div>
    <hr />
</main>

<!-- <h1>Create New Listing</h1> -->
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}

<form
    action="{% url 'item:my_create_item' %}"
    method="POST"
    enctype="multipart/form-data"
>
    {% csrf_token %}
    <div class="form-group">
        <label for="name">Item Name:</label>
        <input type="text" class="form-control" name="name" placeholder="Brand New Trampoline.."/>
		<label for="category">Category:</label>
		<select name="category" class="custom-select mr-sm-2">
			<option value="" disabled selected hidden>Click to Pick</option>
			{% for category in categories %}
			<option value="{{category.name}}">{{category.name}}</option>
			{% endfor %} </select
		><br />
        <label for="condition">Condition:</label>
        <input
            type="text"
            class="form-control"
            name="condition"
            placeholder="Mint, Great, Fair, Bad, etc.."
        />
        <label for="location">Location:</label>
        <input
            type="text"
            class="form-control"
            name="location"
            placeholder="Laguna Beach, CA.."
        />
        <label for="description">Description:</label>
        <textarea name="description" class="form-control" placeholder="This is the bouncyest trampoline, even for Tigger..""></textarea>
        <label for="price">Price:</label>
		<input type="number" step="0.01" class="form-control" name="price" placeholder="10.00.." />
		<br>
        <label for="images">Upload Image:</label>
        <input type="file" name="images" />
        <button type="submit" class="btn btn-primary">Create</button>
        <a
            href="{% url 'login:my_successful_log_in' %}"
            class="btn btn-default"
            role="button"
            >Cancel</a
        >
    </div>
</form>
{% endblock %}
